h1{
  color: red;
  font-size: 100%;
}

p{
    font-family: "comic sans";
    text-indent: 20px;
    margin-left: 10px;
}

#content{
  background-color: #cbcbcb;
  width: 500px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #434433;
  font-size: 20px;
}
